In [ ]:
# pip install -r ../etl/requirements.txt

Requirement already satisfied: polars in /usr/local/python/3.12.1/lib/python3.12/site-packages (from -r ../etl/requirements.txt (line 1)) (1.32.2)
Requirement already satisfied: connectorx in /usr/local/python/3.12.1/lib/python3.12/site-packages (from -r ../etl/requirements.txt (line 2)) (0.4.3)
Collecting pyarrow (from -r ../etl/requirements.txt (line 3))
  Downloading pyarrow-21.0.0-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (3.3 kB)
Downloading pyarrow-21.0.0-cp312-cp312-manylinux_2_28_x86_64.whl (42.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 42.8/42.8 MB 47.9 MB/s eta 0:00:00:00:0100:01
Installing collected packages: pyarrow
Successfully installed pyarrow-21.0.0

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [1]:
import polars as pl

In [2]:
uri = "mysql://etl_user:etlpassword123@localhost:3306/coal_mining"
query_load_data = """
    SELECT 
        date, 
        mine_id, 
        shift, 
        tons_extracted, 
        quality_grade
    FROM 
        production_logs
"""

sql_data = pl.read_database_uri(query=query_load_data, uri=uri)

In [3]:
iot_data = pl.read_csv(
    "../../data/iot/equipment_sensors.csv",
    use_pyarrow=True,
)

In [4]:
anomaly_data = sql_data.filter(pl.col("tons_extracted") < 0)

In [5]:
daily_production = sql_data.group_by("date").agg(
    pl.when(pl.col("tons_extracted") >= 0)
    .then(pl.col("tons_extracted"))
    .otherwise(0)
    .sum()
    .alias("total_production_daily"),
    pl.col("quality_grade").mean().alias("average_quality_grade"),
)

In [18]:
total_equipment = iot_data["equipment_id"].n_unique()

iot_data_daily = iot_data.group_by(pl.col("timestamp").dt.date()).agg(
    ((pl.col("status") == "active").sum() / (24 * total_equipment)).alias(
        "equipment_utilization"
    ),
    pl.col("fuel_consumption").sum().alias("total_fuel_consumption"),
)

In [21]:
import requests

In [30]:
response = requests.get(
    "https://archive-api.open-meteo.com/v1/archive?latitude=2.0167&longitude=117.3000&start_date=2024-07-01&end_date=2025-05-09&daily=temperature_2m_mean,precipitation_sum&timezone=Asia/Jakarta"
)

In [46]:
weather_historical_data = pl.from_dict(response.json()["daily"])

In [49]:
weather_historical_data = weather_historical_data.with_columns(
    pl.col("time").str.to_date().alias("date"),
).drop("time")

In [50]:
weather_historical_data

shape: (313, 3)
┌─────────────────────┬───────────────────┬────────────┐
│ temperature_2m_mean ┆ precipitation_sum ┆ date       │
│ ---                 ┆ ---               ┆ ---        │
│ f64                 ┆ f64               ┆ date       │
╞═════════════════════╪═══════════════════╪════════════╡
│ 26.0                ┆ 1.7               ┆ 2024-07-01 │
│ 25.3                ┆ 29.9              ┆ 2024-07-02 │
│ 24.6                ┆ 9.5               ┆ 2024-07-03 │
│ 25.9                ┆ 0.2               ┆ 2024-07-04 │
│ 26.3                ┆ 6.2               ┆ 2024-07-05 │
│ …                   ┆ …                 ┆ …          │
│ 26.8                ┆ 9.8               ┆ 2025-05-05 │
│ 26.5                ┆ 3.3               ┆ 2025-05-06 │
│ 26.8                ┆ 9.8               ┆ 2025-05-07 │
│ 26.5                ┆ 5.1               ┆ 2025-05-08 │
│ 26.5                ┆ 9.5               ┆ 2025-05-09 │
└─────────────────────┴───────────────────┴────────────┘