In [ ]:
pip install -r ../etl/requirements.txt

Defaulting to user installation because normal site-packages is not writeable
Collecting polars (from -r ../etl/requirements.txt (line 1))
  Downloading polars-1.32.2-cp39-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (15 kB)
Collecting connectorx (from -r ../etl/requirements.txt (line 2))
  Downloading connectorx-0.4.3-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (26 kB)
Requirement already satisfied: pyarrow in /home/dimas/.local/lib/python3.12/site-packages (from -r ../etl/requirements.txt (line 3)) (20.0.0)
Requirement already satisfied: black in /home/dimas/.local/lib/python3.12/site-packages (from -r ../etl/requirements.txt (line 4)) (25.1.0)
Requirement already satisfied: click>=8.0.0 in /usr/lib/python3/dist-packages (from black->-r ../etl/requirements.txt (line 4)) (8.1.6)
Requirement already satisfied: mypy-extensions>=0.4.3 in /home/dimas/.local/lib/python3.12/site-packages (from black->-r ../etl/requirements.txt (line 4)) (1.1.0)
Requirement already satisfied: packaging>=22.0 in /usr/lib/python3/dist-packages (from black->-r ../etl/requirements.txt (line 4)) (24.0)
Requirement already satisfied: pathspec>=0.9.0 in /home/dimas/.local/lib/python3.12/site-packages (from black->-r ../etl/requirements.txt (line 4)) (0.12.1)
Requirement already satisfied: platformdirs>=2 in /home/dimas/.local/lib/python3.12/site-packages (from black->-r ../etl/requirements.txt (line 4)) (4.3.8)
Downloading polars-1.32.2-cp39-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (38.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 38.3/38.3 MB 3.1 MB/s eta 0:00:0000:0100:01
Downloading connectorx-0.4.3-cp312-cp312-manylinux_2_28_x86_64.whl (41.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.7/41.7 MB 2.6 MB/s eta 0:00:0000:0100:01
Installing collected packages: polars, connectorx
Successfully installed connectorx-0.4.3 polars-1.32.2
Note: you may need to restart the kernel to use updated packages.

In [23]:
import polars as pl
import os
from dotenv import load_dotenv
from datetime import datetime as dt

In [2]:
uri = "mysql://etl_user:etlpassword123@localhost:3306/coal_mining"
query_load_data = """
    SELECT 
        date, 
        mine_id, 
        shift, 
        tons_extracted, 
        quality_grade
    FROM 
        production_logs
"""

sql_data = pl.read_database_uri(query=query_load_data, uri=uri)

In [3]:
iot_data = pl.read_csv(
    "../../data/iot/equipment_sensors.csv",
    use_pyarrow=True,
)

In [4]:
anomaly_data = sql_data.filter(pl.col("tons_extracted") < 0)

In [5]:
daily_production = sql_data.group_by("date").agg(
    pl.when(pl.col("tons_extracted") >= 0)
    .then(pl.col("tons_extracted"))
    .otherwise(0)
    .sum()
    .alias("total_production_daily"),
    pl.col("quality_grade").mean().alias("average_quality_grade"),
)

In [18]:
total_equipment = iot_data["equipment_id"].n_unique()

iot_data_daily = iot_data.group_by(pl.col("timestamp").dt.date()).agg(
    ((pl.col("status") == "active").sum() / (24 * total_equipment)).alias(
        "equipment_utilization"
    ),
    pl.col("fuel_consumption").sum().alias("total_fuel_consumption"),
)

In [21]:
import requests

In [30]:
response = requests.get(
    "https://archive-api.open-meteo.com/v1/archive?latitude=2.0167&longitude=117.3000&start_date=2024-07-01&end_date=2025-05-09&daily=temperature_2m_mean,precipitation_sum&timezone=Asia/Jakarta"
)

In [46]:
weather_historical_data = pl.from_dict(response.json()["daily"])

In [49]:
weather_historical_data = weather_historical_data.with_columns(
    pl.col("time").str.to_date().alias("date"),
).drop("time")

In [50]:
weather_historical_data

shape: (313, 3)
┌─────────────────────┬───────────────────┬────────────┐
│ temperature_2m_mean ┆ precipitation_sum ┆ date       │
│ ---                 ┆ ---               ┆ ---        │
│ f64                 ┆ f64               ┆ date       │
╞═════════════════════╪═══════════════════╪════════════╡
│ 26.0                ┆ 1.7               ┆ 2024-07-01 │
│ 25.3                ┆ 29.9              ┆ 2024-07-02 │
│ 24.6                ┆ 9.5               ┆ 2024-07-03 │
│ 25.9                ┆ 0.2               ┆ 2024-07-04 │
│ 26.3                ┆ 6.2               ┆ 2024-07-05 │
│ …                   ┆ …                 ┆ …          │
│ 26.8                ┆ 9.8               ┆ 2025-05-05 │
│ 26.5                ┆ 3.3               ┆ 2025-05-06 │
│ 26.8                ┆ 9.8               ┆ 2025-05-07 │
│ 26.5                ┆ 5.1               ┆ 2025-05-08 │
│ 26.5                ┆ 9.5               ┆ 2025-05-09 │
└─────────────────────┴───────────────────┴────────────┘

In [ ]:
##### BREAKING POINT #####

In [16]:
from dotenv import load_dotenv

load_dotenv()

True

In [21]:
db_user = os.getenv("MYSQL_USER", "")
db_password = os.getenv("MYSQL_PASSWORD", "")
db_host = os.getenv("MYSQL_HOST", "")
db_name = os.getenv("MYSQL_DATABASE", "")


def load_sql_data(
    host: str, user: str, password: str, database: str, query: str
) -> pl.DataFrame:
    """
    Load data from a SQL database using Polars.

    Args:
        host (str): Database host.
        user (str): Database user.
        password (str): Database password.
        database (str): Database name.
        query (str): SQL query to execute.

    Returns:dock
        pl.DataFrame: DataFrame containing the result of the query.
    """
    return pl.read_database_uri(
        query, f"mysql://{user}:{password}@{host}:3306/{database}"
    )

In [22]:
load_sql_data(
    host=db_host,
    user=db_user,
    password=db_password,
    database=db_name,
    query="SELECT * FROM mines",
)

shape: (3, 5)
┌─────────┬───────────┬──────────────┬───────────────────┬────────────────────┐
│ mine_id ┆ mine_code ┆ mine_name    ┆ location          ┆ operational_status │
│ ---     ┆ ---       ┆ ---          ┆ ---               ┆ ---                │
│ i64     ┆ str       ┆ str          ┆ str               ┆ str                │
╞═════════╪═══════════╪══════════════╪═══════════════════╪════════════════════╡
│ 1       ┆ MINE001   ┆ Bukit Bara   ┆ Berau, Kalimantan ┆ Active             │
│ 2       ┆ MINE002   ┆ Gunung Hitam ┆ Berau, Kalimantan ┆ Active             │
│ 3       ┆ MINE003   ┆ Sumber Jaya  ┆ Berau, Kalimantan ┆ Maintenance        │
└─────────┴───────────┴──────────────┴───────────────────┴────────────────────┘

In [ ]:
"mysql://etl_user:etlpassword123@localhost:3306/coal_mining"

In [12]:
os.environ.get("MYSQL_USER", "")

''

In [33]:
(dt.strptime("2025-05-08", "%Y-%m-%d") - dt.now()).days < -90

True